<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting propertyKey="@Properties.radiusMeters" title="@Strings.SetRadius">
        <settingConfig type="numeric" min="500" max="10000"/>
    </setting>
    <setting propertyKey="@Properties.maxPois" title="@Strings.SetMaxPois">
        <settingConfig type="numeric" min="10" max="100"/>
    </setting>
    <setting propertyKey="@Properties.catHistoric" title="@Strings.CatHistoric">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.catFood" title="@Strings.CatFood">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.catCulture" title="@Strings.CatCulture">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.catAircraft" title="@Strings.CatAircraft">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.aircraftRefreshSec" title="@Strings.SetAirRefresh">
        <settingConfig type="numeric" min="15" max="120"/>
    </setting>
</settings>
